.headerContainer{
    
    .headerSubContainer{
        background: $navyblue;
      
    }
    .headerNavigation{
        display: flex;
        justify-content: space-between;
       
    }

    .siteLogo{
        display: flex;
        align-items: center;
        padding:20px 0;
        
        span{
            font-family: "Poppins", serif;
            color:$white;
            font-size: 1.18rem;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
        }
        img{
            margin-right:12px;
            border-right:1px solid $lightBlue;
        }
    }

.topNav{
    display: flex; 
    

    .topUtilities{
        ul{
            margin:0;
            padding:0;
            li{
                list-style-type: none;
                display: inline-block;
                margin-right:20px;
                padding:20px 0;
            }
        }
    }
    .userInformationContainer{
        border-left:1px solid $linkColor;
        padding:0px 0 0px 15px;
        display: flex; 
        align-items: center;

        .userProfilePic{
            img{
                width:35px;
                height: 35px;
                outline:2px solid $white;
                 border-radius: 50%;
                 filter: drop-shadow(0px 2px 14px rgba(0, 0, 0, 0.25));
            }
        }
        .custProfileDropDown{
            color: #A3CFEE;
            font-size: .87rem;
            font-weight: 600;
            padding: 3px;
            margin-left: 7px;

        }
        .userProfileType{
            font-size: .75rem;
            color: $white;
            font-weight: 500;
            margin-left: 11px;
            line-height: 11px;
        }
        .dropdown-menu.show{
            top:-3px!important;
        }
    }
}

 
}
