.siteNavigationContainer{
    background: $white;
    box-shadow: 0px 0px 12px 0px rgba($primary, .20);


    .navigation{

        .navbar{
            padding:0;
        }
        .nav-item{
            margin-left:50px;

        }
        .nav-link{
            color: $primary;
            font-size: 0.87rem;
            font-weight: 500;
            padding:12px 8px;

        &:hover{
            color: $navyblue;
            border-bottom:3px solid $navyblue;
            padding:12px 8px 9px 8px;
        }

        &.active{
            color: $navyblue;
            font-weight: 700;
            border-bottom:3px solid $navyblue;
            padding:12px 8px 9px 8px;
          
        }

        }


    }
}