.icon-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.spinner {
    position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px; /* center it */
  border: 2px solid transparent;
  border-top-color: #4b6cff;  /* modern blue */
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  z-index: 2;
  background-color: transparent;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}