.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.gauge-wrapper {
  position: relative;
  width: 256px;
  height: 128px;
}

.gauge-svg {
  width: 100%;
  height: 100%;
}

.gauge-label {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: #6b7280;
}

.gauge-label-left {
  left: 0;
}

.gauge-label-center {
  left: 50%;
  transform: translateX(-50%);
}

.gauge-label-right {
  right: 0;
}

.score-display {
  text-align: center;
  margin-top: 16px;
}

.score-value {
  font-size: 36px;
  color: #111827;
  font-weight: 600;
}

.score-label {
  color: #4b5563;
  margin-top: 4px;
  font-size: 15px;
}
