/**
 * Global variables
 */

// Breakpoints


$bp-small: 767px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;

// Colors
$primary: #000000;
$lightbg: #f9fbff;
$navyblue:#003D68;
$navyblueHover:#022e4d;

$white: #fff;
$lightBlue:#276FA1;
$gray:#E9E9E9;
$linkColor: #0E75A5;
$lightGrey: #C8D2DE;
$darkGrey: #5E6977;
$gray-1:#DBDBDB;
$red:#bd2020;
$darkGrey-1:#6E6E6E;
$blue:#06C;
$required:#FF131E;
$lightGrey-1:#888;
$lightGrey-2:#c9c7c7;
$purple:#6201ED;
$pink:#E94094;
$darkBlue:#121C9D;



// Fonts
$font-primary: "Roboto", serif;
$font-base-size: 16px;


